# Dependencies
node_modules

# Build output
dist
build

# Environment files (keep examples)
.env
.env.local
.env.development
.env.production
!.env.example

# Logs
*.log
npm-debug.log*

# Editor
.vscode
.idea

# OS
.DS_Store

# Testing
coverage

# Database
*.db
*.sqlite
prisma/migrations/*.sql

# Uploads
uploads/*
!uploads/.gitkeep

# Cache
.cache
